<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busch Dining Hall Menu</title>
    <link rel="stylesheet" href="../static/busch.css" />
</head>
<body>
    <section id="popular" class="module">
		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="module-header wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
						<h2 class="module-title">Popular Dishes</h2>
						<h3 class="module-subtitle">Our most popular menu</h3>
					</div>
				</div>
			</div><!-- .row -->

			<div class="row">

				<div class="col-sm-6">

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Wild Mushroom Bucatini with Kale</h4>
								<div class="menu-detail">Mushroom / Veggie / White Sources</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Lemon and Garlic Green Beans</h4>
								<div class="menu-detail">Lemon / Garlic / Beans</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">LambBeef Kofka Skewers with Tzatziki</h4>
								<div class="menu-detail">Lamb / Wine / Butter</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Imported Oysters Grill (5 Pieces)</h4>
								<div class="menu-detail">Oysters / Veggie / Ginger</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Meatloaf with Black Pepper-Honey BBQ</h4>
								<div class="menu-detail">Pepper / Chicken / Honey</div>
							</div>
						</div>
					</div>

				</div><!-- .col-sm-6 -->

				<div class="col-sm-6">

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Wild Mushroom Bucatini with Kale</h4>
								<div class="menu-detail">Mushroom / Veggie / White Sources</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Lemon and Garlic Green Beans</h4>
								<div class="menu-detail">Lemon / Garlic / Beans</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">LambBeef Kofka Skewers with Tzatziki</h4>
								<div class="menu-detail">Lamb / Wine / Butter</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Imported Oysters Grill (5 Pieces)</h4>
								<div class="menu-detail">Oysters / Veggie / Ginger</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Meatloaf with Black Pepper-Honey BBQ</h4>
								<div class="menu-detail">Pepper / Chicken / Honey</div>
							</div>
						</div>
					</div>

				</div><!-- .col-sm-6 -->

			</div><!-- .row -->

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 long-up text-center">
					<a href="menu-simple.html" class="btn btn-custom-1">View Menu</a>
				</div>
			</div><!-- .row -->

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="devider">
					</div>
				</div>
			</div><!-- .row -->

		</div><!-- .container -->
	</section>
</body>
</html>