<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busch Dining Hall Menu</title>
    <link rel="stylesheet" href="../static/busch.css" />
</head>
<body>
    <h2>Busch Dining Hall Menu:</h2>
	{% for result in results %}
        <ul class = "check-list">
            <li>{{ result[0] }}</li>
            &nbsp &nbsp
            {% for b in range(result[1]) %}
            &nbsp ★
            {% endfor %}
            <div class="container">
                <div>
                    <form method="POST">
                        <div class="omrs-input-group">
                            <label class="omrs-input-underlined">
                              <input name="{result}" required>
                              <span class="omrs-input-label">Enter Rating</span>
                                <span class="omrs-input-helper">Enter a value from 1-5</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"/></svg>
                            </label>
                    </form>
                </div>
            </div>
        </ul>
    {% endfor %}
</body>
</html>