<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DineRate</title>
  <link rel="stylesheet" href="../static/styles.css" />

  <meta name="google-signin-client_id" content="your-client-id-goes-here">
  <script src="https://apis.google.com/js/api.js?onload=onLibraryLoaded" async defer></script>

</head>

<body>
    <div class="topnav">
      <img class="logo-image" src="../static/Images/logo.png" />

      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <button class="sign-out-with-google-btn" onclick="signOut()">Sign out</button>
      <button class="login-with-google-btn" onclick="onSignInClicked()">Sign in</button>
      <script>
        function onSignIn(googleUser) {
          // get user profile information
          console.log(googleUser.getBasicProfile())
        }

        function signOut() {
          gapi.auth2.getAuthInstance().signOut().then(function () {
            console.log('user signed out')
          })
        }

        function onLibraryLoaded() {
          gapi.load('auth2', function () {
            gapi.auth2.init({
              client_id: 'YOUR_CLIENT_ID.apps.googleusercontent.com',
              scope: 'profile'
            })
          })
        }

        function onSignInClicked() {
          gapi.load('auth2', function () {
            gapi.auth2.signIn().then(function (googleUser) {
              console.log('user signed in')
            }, function (error) {
              console.log('user failed to sign in')
            })
          })
        }
      </script>
    </div>
    <h1 id = "title">Rate The Dining Hall</h1>
  <div class="container">
    <div class="card">
      <div class="card-image">
        <img src="../static/Images/busch.jpg">
      </div>
      <div class="card-text">
        <a href="http://127.0.0.1:5000/busch" class="card-title">Busch</a>
        <div class="rate">
          <input type="radio" id="star20" name="rate" value="5" />
          <label for="star20" title="text">5 stars</label>
          <input type="radio" id="star19" name="rate" value="4" />
          <label for="star19" title="text">4 stars</label>
          <input type="radio" id="star18" name="rate" value="3" />
          <label for="star18" title="text">3 stars</label>
          <input type="radio" id="star17" name="rate" value="2" />
          <label for="star17" title="text">2 stars</label>
          <input type="radio" id="star16" name="rate" value="1" />
          <label for="star16" title="text">1 star</label>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-image">
        <img src="../static/Images/livingston.jpg">
      </div>
      <div class="card-text">
        <a href="http://127.0.0.1:5000/livi" class="card-title">Livi</a>
        <div class="rate">
          <input type="radio" id="star20" name="rate" value="5" />
          <label for="star15" title="text">5 stars</label>
          <input type="radio" id="star19" name="rate" value="4" />
          <label for="star14" title="text">4 stars</label>
          <input type="radio" id="star18" name="rate" value="3" />
          <label for="star13" title="text">3 stars</label>
          <input type="radio" id="star17" name="rate" value="2" />
          <label for="star12" title="text">2 stars</label>
          <input type="radio" id="star16" name="rate" value="1" />
          <label for="star11" title="text">1 star</label>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-image">
        <img src="../static/Images/neilson.jpg">
      </div>
      <div class="card-text">
        <a href="http://127.0.0.1:5000/neilson" class="card-title">Neilson</a>
        <div class="rate">
          <input type="radio" id="star20" name="rate" value="5" />
          <label for="star10" title="text">5 stars</label>
          <input type="radio" id="star19" name="rate" value="4" />
          <label for="star9" title="text">4 stars</label>
          <input type="radio" id="star18" name="rate" value="3" />
          <label for="star8" title="text">3 stars</label>
          <input type="radio" id="star17" name="rate" value="2" />
          <label for="star7" title="text">2 stars</label>
          <input type="radio" id="star16" name="rate" value="1" />
          <label for="star6" title="text">1 star</label>
        </div>
      </div>
    </div>


  <div class="card">
    <div class="card-image">
      <img src="../static/Images/brower.jpg">
    </div>
    <div class="card-text">
      <a href="http://127.0.0.1:5000/brower" class="card-title">Brower</a>
      <div class="rate">
        <input type="radio" id="star20" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star19" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star18" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star17" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star16" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
    </div>
  </div>

  </div>
  
</body>

</html>