/* button:focus {
  color: #fc0;
  text-shadow: #fc0 0 0 20px;
} */

button:hover {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
  }
  
button{
border: none;
font-size: 100%;
background: transparent;
}

body {
align-items: center;
background: transparent;
display: flex;
font-size: 48px;
height: 100%;
justify-content: center;
margin: 0;
}

html {
height: 100%;
}