@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  color: black;
}

body {
  background: linear-gradient(180deg, white 55.5%, #c03 55%);
}


a:link {
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
}

a:hover {
  color: #cc0033;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 20px 120px;
  margin-top: 100px;
  margin-bottom: 100px;
}


.card {
  display: flex;
  border: 3.5px solid #cc0033;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  width: 300px;
  margin-bottom: 50px;
  background-color: white;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

.card-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  object-position: 100%
}

.card-text {
  margin-bottom: 0px;
}

.card-meal-type {
  font-style: italic;
}

.card-title {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
}

.card-body {
  font-size: 1.25rem;

}

.logo-image {
  width: 5%;
  height: 5%;
  clip-path: circle();
  float: left;
  margin-left: 50px;
  margin-top: -5px;
  min-width: 60px;
  min-height: 60px;
}


.img {
  width: 250px;
  height: 250px;
}

.sign-in {

  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;

}

.g-signin2 {
  margin-left: 20px;
  margin-top: 20px;
}

.login-with-google-btn {
  transition: background-color .3s;
  padding: 12px 16px 12px 42px;
  margin-top: 5px;
  display: flex;
  border: none;
  border-radius: 3px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  float: right;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.sign-out-with-google-btn {
  transition: background-color .3s;
  padding: 12px 16px 12px 16px;
  margin-top: 5px;
  display: flex;
  border: none;
  float: right;
  border-radius: 3px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-right: 38px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

/* STAR SHIT */
.rate {
  height: px;
  padding: 0px 60px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}